* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: block;
  margin: 20px auto;
  width: 356px;
  border: 0px solid black;
}

#title {
  font-family: "Courgette", sans-serif;
  font-size: 50px;
  margin: 30px 0px 20px 4px;
  color: #194725;
}

#ingress {
  font-family: "PT Serif", serif;
  font-style: italic;
  margin-left: 3px;
  padding: 0px 0px 15px 0px;
  line-height: 130%;
}

img {
  display: block;
  margin: 10px auto;

}

p {
  font-family: "PT Serif", serif;
  margin-left: 3px;
  padding: 10px 0;
  line-height: 130%;
}

iframe {
  display: block;
  margin: 10px auto;
  border: 0px dashed black;
  width: 350px;
}

#app2 {
  height: 315px;
}

#app3 {
  height: 290px;
}

#app4 {
  height: 786px;
  
}

#app5 {
  height: 570px;
}

#app6 {
  height: 470px;
}