* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: block;
  margin: 20px auto;
  /* width: 354px; */
  border: 0px solid black;
}

.content-wrapper {
  width: 600px;
  margin: 0 auto;
  /* padding: 0 10px; */
  /* border: 1px solid red; */
}

#title {
  font-family: "Courgette", sans-serif;
  font-size: 50px;
  margin: 30px 0px 20px 4px;
  color: #194725;
}

#ingress {
  font-family: "PT Serif", serif;
  font-style: italic;
  font-size: 18px;
  margin-left: 3px;
  padding: 0px 0px 15px 0px;
  line-height: 135%;
}

#date {
  font-family: sans-serif;
  font-size: 12px;
  margin-bottom: 20px;
  margin-left: 2px;
}

img {
  display: block;
  margin: 10px auto;
}

p {
  font-family: "PT Serif", serif;
  margin-left: 3px;
  padding: 10px 0;
  line-height: 135%;
}

iframe {
  display: block;
  margin: 10px auto;
  border: 0px dashed black;
  width: 350px;
}

#app2 {
  height: 315px;
}

#app3 {
  height: 314px;
}

#app4 {
  height: 786px;
}

#app5 {
  height: 570px;
}

#app6 {
  height: 470px;
}

@media screen and (max-width: 768px) {
  .content-wrapper {
    width: 354px;
  }
}