* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: block;
  margin: 20px auto;
  width: 360px;
  /* border: 1px solid black; */
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 3px;
  padding: 10px 0;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 3px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 3px;
  padding: 10px 0;
}


iframe {
  display: block;
  margin: auto;
  border: 0px dashed black;
  width: 350px;
}

#app1 {
  height: 450px;
}

#app2 {
  height: 340px;
}

#app3 {
  height: 340px;
}

#app4 {
  height: 840px;
}

#app5 {
  height: 570px;
}

#app6 {
  height: 500px;
}